/*********Code couleur**********/
/*gris foncé = #3F4847
blanc
noir
rose : #E33849*/

@font-face {
  font-family: "spotlight";
  src: url(../font/HoneyScript-Light.ttf);
}

@font-face {
  font-family: "spotlight";
  font-weight: bold;
  src: url(../font/HoneyScript-SemiBold.ttf);
}

/***********Mise en page générale****************/
h1 {
  font-family: "spotlight";
}
/****************Accueil**************************/

/****************Présentation**************************/

/****************Réalisation**************************/

/****************Prestations**************************/

/****************Equipe**************************/

/****************Contact**************************/











/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$ TABLET $$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

@media (min-width: 600px) {

}















/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$ DESKTOP $$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

@media (min-width: 900px) {

}
